# Compiled class file
/bin/
/logs/
/target/

# Java
*.class
*.jar
*.war
*.ear

# OS
Thumbs.db
.DS_Store

# Other
*.log
*.swp
*.bak
/.settings/**/*
/.cache/**/*

.classpath
.project
.jetproperties
/pom.xml.versionsBackup
