# Compiled class file
/bin/
/logs/
/target/

# Java
*.class
*.jar
*.war
*.ear

# OS
Thumbs.db
.DS_Store

# Other
/.settings
/.cache
*.log
*.swp
*.bak

.classpath
.project
.jetproperties
/pom.xml.versionsBackup
/**/.settings
