<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="io.github.parapata.erde.generators" name="io.github.parapata.erde.generators" schema="schema/generators.exsd"/>
    <extension-point id="io.github.parapata.erde.dialects" name="io.github.parapata.erde.dialects" schema="schema/dialects.exsd"/>

    <extension point="org.eclipse.ui.newWizards">
      <category id="io.github.parapata.erde" name="%Bundle-Name"/>
      <wizard category="io.github.parapata.erde"
            class="io.github.parapata.erde.wizard.NewDiagramWizard"
            icon="icons/table.gif"
            id="io.github.parapata.erde.erde.wizard.NewDiagramWizard"
            name="%Bundle-Name"/>
    </extension>

    <extension point="org.eclipse.ui.editors">
      <editor
            id="io.github.parapata.erde.editor.ErdeDiagramEditor"
            name="%Bundle-Name"
            icon="icons/table.gif"
            extensions="ere"
            class="io.github.parapata.erde.editor.ErdeDiagramEditor"
            contributorClass="io.github.parapata.erde.editor.ErdeDiagramContributor">
      </editor>
    </extension>

    <extension point="io.github.parapata.erde.dialects">
        <dialect
            class="io.github.parapata.erde.dialect.H2Dialect"
            name="H2"/>
        <dialect
            class="io.github.parapata.erde.dialect.HsqldbDialect"
            name="HSQLDB"/>
        <dialect
            class="io.github.parapata.erde.dialect.MSSQLDialect"
            name="MSSQL"/>
        <dialect
            class="io.github.parapata.erde.dialect.MySQLDialect"
            name="MySQL"/>
        <dialect
            class="io.github.parapata.erde.dialect.OracleDialect"
            name="Oracle"/>
        <dialect
            class="io.github.parapata.erde.dialect.PostgreSQLDialect"
            name="PostgreSQL"/>
    </extension>

    <extension point="io.github.parapata.erde.generators">
        <generator class="io.github.parapata.erde.generate.DDLGenerater"/>
        <generator class="io.github.parapata.erde.generate.HtmlGenerator"/>
        <generator class="io.github.parapata.erde.generate.ExcelGenerator"/>
        <generator class="io.github.parapata.erde.generate.ImageGenerator"/>
    </extension>

    <extension
        point="org.eclipse.ui.preferencePages">
        <page
              class="io.github.parapata.erde.preference.ErdePreferencePage"
              id="io.github.parapata.erde.preference.ErdePreferencePage"
              name="%Bundle-Name"/>
        <page
            class="io.github.parapata.erde.preference.ValidationPreferencePage"
            id="io.github.parapata.erde.preference.ValidationPreferencePage"
            name="%plugin.erde.preference.validation"
            category="io.github.parapata.erde.preference.ErdePreferencePage"/>
        <page
            class="io.github.parapata.erde.preference.DictionaryPreferencePage"
            id="io.github.parapata.erde.preference.DictionaryPreferencePage"
            name="%plugin.erde.preference.dictionary"
            category="io.github.parapata.erde.preference.ErdePreferencePage"/>
    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer
            class="io.github.parapata.erde.preference.ErdePreferenceInitializer">
        </initializer>
    </extension>

</plugin>
